body {
	padding-top: 30px;
}
.product {
	margin-bottom: 30px;
}
.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
	border-radius: 8px;
}
.product img {
    margin-bottom: 10px;
    max-height: 120px;
    max-width: 120px;
    
}
.tag{
margin: 0 80px 18px;
border-radius: 50px;
display:block;
border:1px solid #775fe4c0;
}
.center{
	text-align: center;
}
.hdr-link{
	margin:0 12px;
}
.tag-type{
	font-family: 'Courier New', Courier, monospace;
	font-weight: 500;
}